body {
  margin-left: 160px;
  padding: 0px 10px;
}

.sidenav {
    height: 100%;
    width: 160px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #8d423f; 
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #f2f2f2;
    display: block;
}

.sidenav a:hover {
    color: #ed9b9b;
}

h1 {
  color: #8d423f;
  border-bottom: 5px solid #8d423f;
  font family: "Verdana";
}

h3 {
  color: #ff443d;
  font family: "Trebuchet MS";
}

.column {
  width: 100%;
  float: left;
  padding: 10px;
  height: 500px;
}
 .Red Panda Pics {
  position: relative; 
  max-width: 800px; 
  margin: 0 auto; 
}
.Red Panda Pics .content {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  width: 100%; 
  padding: 20px; 
}
