body {
  margin-left: 160px;
  padding: 0px 10px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}


::-webkit-scrollbar-thumb {
    background: #8d423f; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8d423f; 
}

.sidenav {
    height: 100%;
    width: 160px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #8d423f; 
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: verdana, geneva, sans-serif;
    color: #f2f2f2;
    display: block;
}

.sidenav a:hover {
    color: #bc5f5c;
}

h1 {
  color: #8d423f;
  border-bottom: 5px solid #8d423f;
  text-shadow: 2px 2px 5px #ff6347;
}

h3 {
  color: #d74b33;
  font family: verdana, geneva, sans-serif;
}

p {
  color: #16231e;
  font family: arial, helvetica, sans-serif;
}

.column {
  width: 100%;
  float: left;
  padding: 10px;
  height: 500px;
}

#slideshow {
  width: 500px;
  height: 500px;
  position: relative;
  padding: 10px;
  margin: 50px auto;
}

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  botom: 10px;
}
