body {
  margin-left: 160px;
  padding: 0px 10px;
}

.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #8d423f; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.sidenav {
    height: 100%;
    width: 160px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #8d423f; 
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: verdana, geneva, sans-serif;
    color: #f2f2f2;
    display: block;
}

.sidenav a:hover {
    color: #bc5f5c;
}

h1 {
  color: #bf130d;
  border-bottom: 5px solid #8d423f;
  font family: jazz let, fantasy;
  text-shadow: 2px 2px 5px red;
}

h3 {
  color: #d74b33;
  font family: verdana, geneva, sans-serif;
}

.column {
  width: 100%;
  float: left;
  padding: 10px;
  height: 500px;
}
 .Red Panda Pics {
  position: relative; 
  max-width: 800px; 
  margin: 0 auto; 
  positions: center;
}
.Red Panda Pics .content {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  width: 100%; 
  padding: 20px; 
}
