body {
  margin: 0;
  background-image: url ("https://github.com/msredpanda/portfolio/blob/gh-pages/red-swirls-png-8.png?raw=true");
}

.sidenav {
    height: 100%;
    width: 160px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #8d423f; 
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #f2f2f2;
    display: block;
}

.sidenav a:hover {
    color: #ed9b9b;
}

h1 {
  color: #8d423f;
  border-bottom: 5px solid #8d423f;
  font family: "system-ui";
}

h3 {
  color: #ff443d;
}

.column {
  width: 100%;
  float: left;
  padding: 10px;
  height: 500px;
}
 .Red Panda Pics {
   float: center;
}
