body {
  margin-left: 160px;
  padding: 0px 10px;
}

#mySidenav a{
   position: absolute; 
    left: -80px; 
    transition: 0.3s; 
    padding: 15px; 
    width: 100px; 
    text-decoration: none; 
    font-size: 20px; 
    color: white; 
    border-radius: 0 5px 5px 0; 
}

#mySidenav a:hover {
    color: #ed9b9b;
    left: 0;
}

#home {
    top: 20px;
    background-color: #823d3a;
}

#Red Pandas {
    top: 80px;
    background-color: #783836;
}

#naomi {
    top: 140px;
    background-color: #6d3331;
}

#lattecatgirl {
    top: 200px;
    background-color: #582928;
}

h1 {
  color: #8d423f;
  border-bottom: 5px solid #8d423f;
  font family: "Verdana";
}

h3 {
  color: #ff443d;
  font family: "Trebuchet MS";
}

.column {
  width: 100%;
  float: left;
  padding: 10px;
  height: 500px;
}
 .Red Panda Pics {
  position: relative; 
  max-width: 800px; 
  margin: 0 auto; 
  positions: center;
}
.Red Panda Pics .content {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  width: 100%; 
  padding: 20px; 
}
