body {
  margin-left: 160px;
  padding: 0px 10px;
}

.sidenav {
    height: 100%;
    width: 160px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #8d423f; 
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: verdana, geneva, sans-serif;
    color: #f2f2f2;
    display: block;
}

.sidenav a:hover {
    color: #bc5f5c;
}
h1 {
  color: #8d423f;
  border-bottom: 5px solid #8d423f;
  font family: jazz let, fantasy;
}

h3 {
  color: #ff443d;
}


